<%# Unified meeting card with date slab. Locals: meeting %>
<% is_council = council_meeting?(meeting) %>
<% headline = best_headline(meeting) %>
<% approved_topics = meeting.agenda_items.flat_map(&:topics).uniq.select(&:approved?) %>
<% is_upcoming = meeting.starts_at > Time.current %>
<%= link_to meeting_path(meeting), class: "meetings-card" do %>
  <div class="meetings-date-slab <%= 'meetings-date-slab--council' if is_council %>">
    <span class="meetings-date-month"><%= meeting.starts_at.strftime("%b") %></span>
    <span class="meetings-date-day"><%= meeting.starts_at.strftime("%-d") %></span>
    <span class="meetings-date-dow"><%= meeting.starts_at.strftime("%a") %></span>
    <% if is_upcoming %>
      <span class="meetings-date-time"><%= meeting.starts_at.strftime("%-l:%M %p") %></span>
    <% end %>
  </div>
  <div class="meetings-card-body">
    <span class="meetings-card-name"><%= meeting.body_name.sub(/ Meeting$/, "") %></span>
    <% if headline %>
      <p class="meetings-card-headline"><%= headline %></p>
    <% end %>
    <% if approved_topics.any? %>
      <div class="meetings-topic-pills">
        <% approved_topics.first(4).each do |topic| %>
          <span class="meetings-topic-pill"><%= topic.name %></span>
        <% end %>
        <% if approved_topics.size > 4 %>
          <span class="meetings-topic-pill meetings-topic-pill--more">+<%= approved_topics.size - 4 %> more</span>
        <% end %>
      </div>
    <% elsif is_upcoming && !headline && meeting.document_status == :none %>
      <span class="meetings-card-note">Agenda not yet posted</span>
    <% end %>
  </div>
<% end %>
