<h1>Meetings</h1>

<%= form_with url: meetings_path, method: :get, local: true do |form| %>
  <div style="margin-bottom: 20px;">
    <%= form.text_field :q, value: params[:q], placeholder: "Search documents...", style: "width: 300px; padding: 5px;" %>
    <%= form.submit "Search", style: "padding: 5px;" %>
    <% if params[:q].present? %>
      <%= link_to "Clear", meetings_path, style: "margin-left: 10px;" %>
    <% end %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Body</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.starts_at&.strftime("%B %d, %Y %l:%M %p") %></td>
        <td><%= meeting.body_name %></td>
        <td><%= meeting.status.titleize %></td>
        <td><%= link_to "View Details", meeting_path(meeting) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
