<tr>
  <td>
    <strong><%= meeting.starts_at&.strftime("%b %-d") %></strong>
    <div class="text-muted text-sm"><%= meeting.starts_at&.strftime("%l:%M %p") %></div>
    <% if (status_html = meeting_status_badge(meeting)) %>
      <div class="mt-1"><%= status_html %></div>
    <% end %>
  </td>
  <td><%= meeting.body_name %></td>
  <td class="meeting-topics-col">
    <% topics = meeting.agenda_items.flat_map(&:topics).uniq %>
    <% if topics.any? %>
      <div class="flex flex-wrap gap-1">
        <% topics.first(3).each do |topic| %>
          <%= link_to topic.name, topic_path(topic), class: "tag tag--topic" %>
        <% end %>
        <% if topics.size > 3 %>
          <span class="text-muted text-xs">+<%= topics.size - 3 %> more</span>
        <% end %>
      </div>
    <% else %>
      <span class="text-muted text-sm">No topics yet</span>
    <% end %>
  </td>
  <td class="text-right">
    <%= link_to "View", meeting_path(meeting), class: "btn btn--secondary btn--sm" %>
  </td>
</tr>
