<tr>
  <td>
    <strong><%= meeting.starts_at&.strftime("%b %-d") %></strong>
    <div class="text-muted text-sm"><%= meeting.starts_at&.strftime("%l:%M %p") %></div>
    <% if (status_html = meeting_status_badge(meeting)) %>
      <div class="mt-1"><%= status_html %></div>
    <% end %>
  </td>
  <td><%= meeting.body_name %></td>
  <td class="meeting-topics-col">
    <% topics = meeting.agenda_items.flat_map(&:topics).uniq.select { |t| t.approved? && (t.resident_impact_score || 0) >= 2 } %>
    <% if topics.any? %>
      <div class="flex flex-wrap gap-1">
        <% topics.each do |topic| %>
          <%= link_to topic.name, topic_path(topic), class: "tag tag--topic" %>
        <% end %>
      </div>
    <% end %>
  </td>
  <td class="text-right">
    <%= link_to "View", meeting_path(meeting), class: "btn btn--secondary btn--sm" %>
  </td>
</tr>
